<launch>
    <node pkg="lebot" type="myControllerInput.py" name="ControllerToRos" />
    <node pkg="lebot" type="theWheel.py" name="RosToWheel"/>
    <include file="$(find ds4_driver)/launch/ds4_driver.launch">
    <arg name="use_standard_msgs" value="true"/>
    </include>
    <node pkg="lebot" type="theBasket.py" name="iFindBasket"/>
    <param name="basket_color" type="string" value="blue"/>
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="align_depth" value="true"/>
    </include>
</launch>
