<launch>
    <arg name="basket" default="blue" />
    <arg name="ip" default="/localhost:9020" />
    <group ns="main">
        <node pkg="ros_lebot" name="Logic" type="state_machine"/>
    </group>
    <group ns = 'Movement'>
        <node pkg="ros_lebot" type="myControllerInput" name="ControllerToRos" />
        <node pkg="ros_lebot" type="theWheel" name="RosToWheel"/>
    </group>
    <group ns="Visual">
        <node pkg="ros_lebot" type="theBall" name="FindBall"/>
        <node pkg="ros_lebot" type="theBasket" name="FindBasket"/>
    </group>
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="align_depth" value="true"/>
    </include>
    <include file="$(find ds4_driver)/launch/ds4_driver.launch">
        <arg name="use_standard_msgs" value="true" />
    </include>
</launch>
