<launch>
    <group ns = 'Movement'>
        <node pkg="lebot" type="myControllerInput" name="ControllerToRos" />
        <node pkg="lebot" type="theWheel" name="RosToWheel"/>
    </group>
    <include file="$(find ds4_driver)/launch/ds4_driver.launch">
        <arg name="use_standard_msgs" value="true" />
    </include>
</launch>